.table-row {
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    transition: transform 200ms ease;
}

.table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    table-layout: fixed;
    /* forces columns to stay fixed width */
}

.table th,
.table td {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
    white-space: nowrap;
    /* prevents text wrapping */
    overflow: hidden;
    /* hides overflowing text  */
    text-overflow: ellipsis;
    /* shows ... for overflowing text  */
}

.table-container {
    width: 90%;
    /* or any fixed width you prefer */
    margin: 0 auto;
    overflow-x: auto;
    /* allows scrolling if table overflows horizontally */
}